*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-image: url(img/machu-picchu-61-c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
}

.display{
    width: 200px;
}

.name{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}
.top{
    background-color: rgb(0, 38, 255);
    display: flex ;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 45px;

}


.barra{
    justify-content: center;
    align-items: center;
    display: flex;  
    list-style: none;
    color: white;
    gap: 1rem;
    font-size: 17px;
    margin-top: 20px;
    
}

.barra li a{
    text-decoration: none;
    color: white;
}

.barra2{
    justify-content: center;
    align-items: center;
    display: flex;  
    list-style: none;
    color: black;
    gap: 1rem;
    font-size: 13px;
    margin-top: 23px;
    
}

.barra2 button{
    border: solid 1px black;
    padding: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.text{
    text-align: center;
}

.informations {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 55%;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-content a {
  text-decoration: underline;
}

.info-content h2 {
    text-align: start;
}

.info-content img {
    border-radius: .5rem;
}

.info-content ul {
  color: #f00;
  list-style: disc;
  padding: 1rem 4rem;
}

.info-content ul li {
  color: rgb(0, 0, 0);
  list-style: disc;
  padding: 1rem;
}

